<p class="myp" *ngIf="!exist">{{'FIELD.kitMembraneInexistante' | translate}}</p>
<div class="tab-content p-24" fusePerfectScrollbar *ngIf="exist">
    <div fxLayout="column" fxLayout.gt-sm="row">
        <div class="mr-sm-12 ml-sm-12" fxFlex>

                <div>
                    <p class="myLabel">{{'FIELD.nombre' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{kit.nombre}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.caracteristique' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{kit.caracteristique}}</span>
                    </p>
                </div>

        </div>

    </div>
</div>


