<p class="myp" *ngIf="!exist">{{'FIELD.priseEauInexistante' | translate}}</p>
<form name="ouvrageForm" [formGroup]="priseEauForm" class="w-100-p" fxLayout="column" fxFlex *ngIf="exist">

        <div class="tab-content p-24" fusePerfectScrollbar>

            <div *ngIf="add">
                <button mat-raised-button class=" mat-white-bg" matStepperNext>
                    <span>{{'BUTTON.disponible' | translate}}</span>
                </button>
            </div>
            <hr>

            <div fxLayout="column" fxLayout.gt-sm="row">
                <div class="mr-sm-12 ml-sm-12" fxFlex>

                    <fieldset class="myfieldset">

                        <mat-form-field appearance="outline" class="w-100-p">
                            <mat-label>{{'FIELD.type' | translate}}</mat-label>
                            <mat-select formControlName="type" required >
                                <mat-option value="BacheAccumulation" >Bâche d’accumulation</mat-option>
                                <mat-option value="Captage" >Captage</mat-option>
                                <mat-option value="BargeFlottante">Barge flottante</mat-option>
                                <mat-option value="SP">SP</mat-option>
                            </mat-select>
                            <mat-icon matSuffix class="secondary-text">domain</mat-icon>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-100-p" >
                            <mat-label>{{'FIELD.dimension' | translate}}</mat-label>
                            <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                            <input matInput name="dimension" formControlName="dimension" required>
                        </mat-form-field>


                        <mat-form-field appearance="outline" class="w-100-p">
                            <mat-label>{{'FIELD.nature' | translate}}</mat-label>
                            <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                            <input matInput name="nature" formControlName="nature" required>
                        </mat-form-field>

                    </fieldset>
                </div>
            </div>

            <hr>
            <div>
                <button mat-raised-button class=" mat-white-bg" matStepperNext [disabled]="priseEauForm.invalid" (click)="onSave()">
                    <span *ngIf="add">{{'BUTTON.add' | translate}}</span>
                    <span *ngIf="!add">{{'BUTTON.update' | translate}}</span>
                </button>
            </div>

        </div>

    </form>