.page-layout.carded.fullwidth {
    .top-bg {
        height: 152px;
    }
    .center {
        .header {
            height: 97px !important;
            min-height: 97px !important;
            max-height: 97px !important;
        }
    }
}


.mat-white-bg[disabled] {
    background-color: rgba(255, 255, 255, 0.52) !important;
    color: rgba(0, 0, 0, 0.26) !important;
}


.users-table {
    flex: 1 1 auto;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    overflow: auto;
    mat-cell:last-child{
        padding: 0;
    }
    .mat-header-row {
        min-height: 54px;
    }

    .user {
        position: relative;
        cursor: pointer;
    }

    .mat-cell {
        min-width: 0;
        display: flex;
        align-items: left;
    }

    .mat-column-checkbox {
        flex: 0 1 80px;
    }

    .mat-column-enabled {
        flex: 0 1 80px;
    }

    .mat-column-employeeCode {
        flex: 0 1 80px;
    }

    .mat-column-buttons {
        flex: 0 1 80px;
    }

    .mat-column-active{
        flex: 0 1 30px;
    }

    .mat-column-roles{
        padding-bottom: 3px;
        padding-top: 3px;
    }
    
}
        
.example-container {
        overflow: auto;
        background-color: white;
    }

table {
width: 100%;
min-width: 850px;
margin-bottom: 5em;
}




.mat-menu-item {
font-family: Roboto, "Helvetica Neue", sans-serif;
font-size: 14px;
line-height: 0px;
font-weight: 500;
}
        .flex-container {
            display: flex;
            flex-direction: column;
          }
          .example-list {
            width: 500px;
            max-width: 100%;
            border: solid 1px #ccc;
            min-height: 60px;
            display: block;
            background: white;
            border-radius: 4px;
            overflow: hidden;
          }
          
          .example-box {
            padding: 20px 10px;
            border-bottom: solid 1px #ccc;
            color: rgba(0, 0, 0, 0.87);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            cursor: move;
            background: white;
            font-size: 14px;
          }
          
          .cdk-drag-preview {
            box-sizing: border-box;
            border-radius: 4px;
            box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                        0 8px 10px 1px rgba(0, 0, 0, 0.14),
                        0 3px 14px 2px rgba(0, 0, 0, 0.12);
          }
          
          .cdk-drag-placeholder {
            opacity: 0;
          }
          
          .cdk-drag-animating {
            transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
          }
          
          .example-box:last-child {
            border: none;
          }
          
          .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
            transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
          }