.group rect { opacity: 0.5; }

.node,
.group rect { cursor: move; }
.link text { cursor: default; }

.node rect,
.group rect {
  stroke: #fff;
  stroke-width: 1.5px;
  fill: gray;
}

.node text { font-size: 10px; }

.link line {
  // stroke: blue;
  stroke-width: 10px;
  // stroke-opacity: 1;
  fill: none;
  stroke: rgb(117, 195, 226);
      // opacity: 0.5;
      // stroke-width: 4;
      // stroke-dasharray: 10, 4;
}

.link path{
  stroke: rgb(255, 255, 255);
  stroke-dasharray: 15, 40;
}

.link text { font-size: 7px; }
.link text:hover tspan,
.link text.hover tspan {
  fill: #00B0E8;
  font-weight: bold;
  visibility: visible !important;
}
.link text.hover tspan {
  font-size: 10px;
}
.link line:hover {
  stroke: #00B0E8;
}

.loopback,
.interface { fill: #333; }

tspan { 
    display: none;
}
tspan.title { 
  display: block;
  font-weight: bold;
}
// g rect{
//     fill:#F5F5F5 !important;
// }

svg {
    width:100%;
    height:100%;
}
#diagram {
    width:100%;
    height:100%;
}