.td-file-upload-cancel mat-icon {
  border-radius: 12px;
  vertical-align: baseline;
  background-color: #fafafa;
}

.mat-button-wrapper {
  color: #e53935;
}

.td-file-upload-cancel {
    float: right;
    height: 24px;
    width: 24px;
    position: relative;
    top: -14px;
    right: -10px;
}

.bgc {
  background-color: #395cda !important;
}

#attachPin{
  padding: 5px;
  display: inline-block;
}

.custom-margin{
  margin-top: -26px;
  margin-bottom: -13px;
}

.fx{
  display: flex;
  flex-wrap: wrap;
}

.fileColor{
  color: white;
  background-color:#45b74e !important;
}

  .group {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-radius: 2px;
      padding: 28px 16px 30px 16px;
      margin: 16px 5px;

      h2 {
          position: absolute;
          top: -11px;
          left: 8px;
          margin: 0;
          padding: 0 8px;
          font-size: 16px;
          font-weight: 500;
          background: white;
          color: rgba(0, 0, 0, 0.54);
      }
    }
