<p class="myp" *ngIf="!exist">{{'FIELD.antiBelierInexistante' | translate}}</p>
<form name="ouvrageForm" [formGroup]="antiBelierForm" class="w-100-p" fxLayout="column" fxFlex *ngIf="exist">

    <div class="tab-content p-24" fusePerfectScrollbar>



        <div fxLayout="column" fxLayout.gt-sm="row">
            <div class="mr-sm-12 ml-sm-12" fxFlex>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.marque' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="marque" formControlName="marque" required>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="w-100-p" >
                        <mat-label>{{'FIELD.type' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="type" formControlName="type" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.capacity' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="capacity" formControlName="capacity" required>
                    </mat-form-field>

                    <div>
                        <mat-slide-toggle matInput name="compresseur" formControlName="compresseur"
                                           required [checked]="antiBelier.compresseur" (change)="toggleCompresseur()">
                                <span *ngIf="antiBelier.compresseur">
                                    {{ 'FIELD.compresseurActive' | translate }}
                                </span>
                            <span *ngIf="!antiBelier.compresseur">
                                    {{ 'FIELD.compresseurInactive' | translate }}
                                </span>
                        </mat-slide-toggle>
                    </div>

            </div>

            <div class="mr-sm-12 ml-sm-12" fxFlex>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.presseionService' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="presseionService" formControlName="presseionService" required>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="w-100-p" >
                        <mat-label>{{'FIELD.presseionEpreuve' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="presseionEpreuve" formControlName="presseionEpreuve" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.presseionRegonflage' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="presseionRegonflage" formControlName="presseionRegonflage" required>
                    </mat-form-field>

            </div>


        </div>

        <div>
            <button mat-raised-button class="accent add-button"  [disabled]="antiBelierForm.invalid" (click)="onSave()">
                <span>{{'BUTTON.next' | translate}}</span>
            </button>
        </div>
    </div>

</form>

