
.page-layout.carded.fullwidth {
    .top-bg {
        height: 152px;
    }
    .center {
       .header {
          height: 97px !important;
          min-height: 97px !important;
          max-height: 97px !important;
              } 
                } 
                  }

 
     .mat-white-bg[disabled] {
        background-color: rgba(255, 255, 255, 0.52) !important;
        color: rgba(0, 0, 0, 0.26) !important;
                    }

.myLabel {
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.38);
    margin-bottom: -12px;
    margin-left: 30px;
}

.myp{
    font-size: 16px !important;
    margin-top: 17px !important;
}

mat-chip-list {
    padding-top: 6px;
    position: relative;

    .icon-permission{
        position: absolute;
        top: 7px;
    }

    .chip-list-permission{
        margin-left: 30px;
    }
}