<div id="addOuvrage" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/patrimony/ouvrages'">
                    <mat-icon>arrow_back</mat-icon>
                </button>


                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        {{'ADD.HEADER.title-add' | translate}}
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
            <button mat-raised-button class=" mat-white-bg" [disabled]="ouvrageForm.invalid" (click)="onSelect()">
                <span>{{'ADD.BUTTON.create' | translate}}</span>
            </button>


        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <form name="ouvrageForm" [formGroup]="ouvrageForm" class="w-100-p" fxLayout="column"
                    class="mr-sm-12 ml-sm-12">

                    <div class="tab-content p-24" fusePerfectScrollbar>

                        <div fxLayout="column" fxLayout.gt-sm="row">
                            <div class="mr-sm-12 ml-sm-12" fxFlex>
                                <fieldset class="myfieldset">
                                    <legend>{{'ADD.LEGENDS.svp' | translate}}</legend>

                                    <mat-form-field appearance="outline" class="w-100-p">
                                        <mat-label>{{'ADD.FIELD.type' | translate}}</mat-label>
                                        <mat-icon matSuffix class="secondary-text">domain</mat-icon>
                                        <mat-select formControlName="type">
                                            <mat-option *ngFor="let type of ouvragesTypes" [value]="type.name">
                                                {{type.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>


                                </fieldset>
                                <fieldset class="myfieldset">
                                    <legend>{{'ADD.LEGENDS.site' | translate}}</legend>

                                    <mat-form-field appearance="outline" class="w-100-p">
                                        <mat-label>{{'ADD.FIELD.site' | translate}}</mat-label>
                                        <mat-select formControlName="site" required>
                                            <mat-option *ngFor="let site of sites"
                                                [value]="site.id">
                                                {{site.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix class="secondary-text">domain</mat-icon>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="w-100-p">
                                        <mat-label>{{'ADD.FIELD.center' | translate}}</mat-label>
                                        <mat-select formControlName="center" required>
                                            <mat-option *ngFor="let center of centers"
                                                [value]="center.id">
                                                {{center.designation}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix class="secondary-text">domain</mat-icon>
                                    </mat-form-field>
                                </fieldset>

                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>