<p class="myp" *ngIf="!exist">{{'FIELD.posteChlorationInexistante' | translate}}</p>
<div class="tab-content p-24" fusePerfectScrollbar *ngIf="exist">
    <div fxLayout="column" fxLayout.gt-sm="row">
        <div class="mr-sm-12 ml-sm-12" fxFlex>

                <div>
                    <p class="myLabel">{{'FIELD.abri' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span *ngIf="posteChloration.fonctionnementPompe">{{ 'FIELD.abriAvtive' | translate }}</span>
                        <span *ngIf="!posteChloration.fonctionnementPompe">{{ 'FIELD.abriAvtive' | translate }}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.dimension' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{posteChloration.dimension}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.type' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{posteChloration.type}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.dosagePompe' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{posteChloration.dosagePompe}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.nombrePompe' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{posteChloration.nombrePompe}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.fonctionnementPompe' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span *ngIf="posteChloration.fonctionnementPompe">{{ 'FIELD.enabledActivePompe' | translate }}</span>
                        <span *ngIf="!posteChloration.fonctionnementPompe">{{ 'FIELD.enabledActivePompe' | translate }}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.cost' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{posteChloration.cost}}</span>
                    </p>
                </div>

        </div>

        <div class="mr-sm-12 ml-sm-12" fxFlex>

                <div>
                    <p class="myLabel">{{'FIELD.statePompe' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{posteChloration.statePompe}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.typePompe' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{posteChloration.typePompe}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.debitPompe' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{posteChloration.debitPompe}}</span>
                    </p>
                </div>


                <div>
                    <p class="myLabel">{{'FIELD.hmtPompe' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{posteChloration.hmtPompe}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.puissancePompe' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{posteChloration.puissancePompe}}</span>
                    </p>
                </div>

        </div>


    </div>
</div>


