.page-layout.carded.fullwidth {
    .top-bg {
        height: 152px;
    }
    .center {
        .header {
            height: 97px !important;
            min-height: 97px !important;
            max-height: 97px !important;
        }
    }
}

.mat-white-bg[disabled] {
    background-color: rgba(255, 255, 255, 0.52) !important;
    color: rgba(0, 0, 0, 0.26) !important;
}

.phonep {
    display: flex;
    align-items: center;
    font-size: 16px !important;
    margin-top: 17px !important;
}

.emailp {
    display: flex;
    align-items: center;
    font-size: 16px !important;
    margin-top: 39px !important;
}

.myfieldset {
    padding-top: 15px;
    border-radius: 7px;
    border: 1px solid rgb(224, 224, 224);
    margin-top: 15px;
    min-height: 311px;

    legend {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.myLabel {
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.38);
    margin-bottom: -12px;
    margin-left: 30px;
}

.mapwh {
    width: 100% !important;
    height: 300px !important;
    min-height: 300px !important;
    max-height: 300px !important;
}
.mapcls {
    overflow: auto;
    max-height: 350px;
    margin-bottom: 8px;
}
