<div id="chains" class="page-layout carded fullwidth inner-scroll">
    <!-- SELECTED BAR -->
    <selected-bar [ngStyle]="{ 'height': heightDyn() }" class="accent-600" *ngIf="selectBarDisplayed" [@slideInTop]>
    </selected-bar>
    <!-- / SELECTED BAR -->
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent" id="headerHeight"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div [ngClass]="{HideTable: emptyList}" class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <span class="logo-text h1">
                   Chains <!-- {{'LIST.HEADER.title' | translate}} -->
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <ng-container *ayamsHasAnyPermissions="['*:*']">
                <div class="search-wrapper mx-32 mx-md-0">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input matInput (keyup)="applyFilter($event.target.value)"
                            placeholder="Recherche">
                    </div>
                </div>
                <!-- / SEARCH -->
                <button mat-raised-button [routerLink]="'/patrimony/synoptic/11'" class="mat-white-bg mt-24 mt-md-0">
                    <span>Visualiser</span>
                </button>

                <button mat-raised-button (click)="export()" class="mat-white-bg mt-24 mt-md-0" [disabled]="!btnExport">
                    <span>Exporter</span>
                </button>
            </ng-container>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <ng-container *ayamsHasAnyPermissions="['*:*']">
            <div class="example-container mat-white-bg">

                <table mat-table  [dataSource]="dataSource" matSort >

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="checkbox">
                        <th mat-header-cell *matHeaderCellDef>
                        </th>
                        <td mat-cell *matCellDef="let chain">
                            <ng-container>
                                <mat-checkbox [(ngModel)]="chainsCheckbox[chain.id]"
                                    (ngModelChange)="onSelectedChange(chain)" (click)="$event.stopPropagation()">
                                </mat-checkbox>
                            </ng-container>
                        </td>
                    </ng-container>

                    <!-- Code Column -->
                    <ng-container matColumnDef="chainCode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code
                        </th>
                        <td mat-cell *matCellDef="let chain">
                            <p class="text-truncate">{{chain.code}}</p>
                        </td>
                    </ng-container>

                    <!-- Code Designation -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom
                        </th>
                        <td mat-cell *matCellDef="let chain">
                            <p class="text-truncate">{{chain.name}}</p>
                        </td>
                    </ng-container>

                    <!-- Code Column -->
                    <ng-container matColumnDef="commune">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre d'ouvrage
                        </th >
                        <td mat-cell *matCellDef="let chain">
                            <p class="text-truncate">{{chain.ouvragesNumber}}</p>
                        </td>
                    </ng-container>

                    <!-- Permissions Column -->
                    <ng-container matColumnDef="enabled">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fonctionnement
                        </th >
                        <td mat-cell *matCellDef="let chain">
                            <mat-icon *ngIf="chain.enabled" class="active-icon green-600-bg fuse-white-500-fg s-16">check
                            </mat-icon>
                            <mat-icon *ngIf="!chain.enabled" class="active-icon red-500-bg fuse-white-500-fg s-16">close
                            </mat-icon>
                        </td>
                    </ng-container>


                    <!-- Buttons Column -->
                    <ng-container matColumnDef="buttons" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let chain">

                                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                    (click)="$event.stopPropagation();">
                                    <mat-icon class="secondary-text">more_vert</mat-icon>
                                </button>

                                <mat-menu #moreMenu="matMenu">
                                    <ng-container *ayamsHasAnyPermissions="['chains:edit','chains:*','*:edit','*:*']">
                                        <button mat-menu-item aria-label="edit"
                                            (click)="router.navigate(['/patrimony/chain/'+chain.code+'/edit'])">
                                            <mat-icon>edit</mat-icon>
                                            <span>{{'LIST.TABLE.action.edit' | translate}}</span>
                                        </button>
                                    </ng-container>
                                    <ng-container
                                        *ayamsHasAnyPermissions="['chains:delete','chains:*','*:delete','*:*']">
                                        <button mat-menu-item aria-label="remove" (click)="onDelete(chain)">
                                            <mat-icon>delete</mat-icon>
                                            <span>{{'LIST.TABLE.action.remove' | translate}}</span>
                                        </button>
                                    </ng-container>
                                </mat-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                    <ng-container *ayamsHasAnyPermissions="['chains:show','chains:*','*:show','*:*']">
                        <tr mat-row *matRowDef="let chain; columns: displayedColumns;" class="chain" matRipple
                            (click)="router.navigate(['/patrimony/chain/'+chain.code+'/show'])">
                        </tr>
                    </ng-container>
                </table>

            </div>

        </ng-container>
        <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
    <ng-container *ayamsHasAnyPermissions="['chains:add','chains:*','*:add','*:*']">
        <button mat-fab class="accent add-button" [routerLink]="'/patrimony/chain/add'"
            matTooltip="{{'LIST.BUTTON.add' | translate}}" matTooltipPosition="left" *fuseIfOnDom>
            <mat-icon>add</mat-icon>
        </button>
    </ng-container>
</div>