#synoptic {
  .top-bg {
    height: 152px;
  }
  .center {
    .header {
        height: 97px !important;
        min-height: 97px !important;
        max-height: 97px !important;
    }
}
}
.group rect { opacity: 0.5; }

.node,
.group rect { cursor: move; }
.link text { cursor: default; }

.node rect,
.group rect {
  stroke: #fff;
  stroke-width: 1.5px;
  fill: gray;
}

.node text { font-size: 10px; }

.link line {
  // stroke: blue;
  stroke-width: 10px;
  // stroke-opacity: 1;
  fill: none;
  stroke: rgb(117, 195, 226);
      // opacity: 0.5;
      // stroke-width: 4;
      // stroke-dasharray: 10, 4;
}

.link path{
  stroke: rgb(255, 255, 255);
  stroke-dasharray: 15, 40;
}

.link text { 
  font-size: 11px;
  font-weight: bold;
 }
.link text:hover tspan,
.link text.hover tspan {
  fill: #00B0E8;
  font-weight: bold;
  visibility: visible !important;
}
.link text.hover tspan {
  font-size: 10px;
}
.link line:hover {
  stroke: #00B0E8;
}

.loopback,
.interface { fill: #333; }

.node tspan { 
    display: none;
}
tspan.title { 
  display: block;
  font-weight: bold;
}
g rect{
    fill:rgb(170, 170, 170) !important;
}

svg {
    width:100%;
    height:100%;
}
#diagram {
    width:100%;
    height:100%;
}

// .tooltip {
//   position: relative;
//   display: inline-block;
//   border-bottom: 1px dotted black;
// }

// .tooltip .tooltiptext {
//   visibility: hidden;
//   width: 120px;
//   background-color: #555;
//   color: #fff;
//   text-align: center;
//   border-radius: 6px;
//   padding: 5px 0;
//   position: absolute;
//   z-index: 1;
//   bottom: 125%;
//   left: 50%;
//   margin-left: -60px;
//   opacity: 0;
//   transition: opacity 0.3s;
// }

// .tooltip .tooltiptext::after {
//   content: "";
//   position: absolute;
//   top: 100%;
//   left: 50%;
//   margin-left: -5px;
//   border-width: 5px;
//   border-style: solid;
//   border-color: #555 transparent transparent transparent;
// }

// .tooltip:hover .tooltiptext {
//   visibility: visible;
//   opacity: 1;
// }

div.tooltip {	
  position: absolute;			
  text-align: center;								
  padding: 2px;				
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}

.category-selector {
  width: 200px;
}