@import "src/@fuse/scss/fuse";

:host {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  min-width: 0;

  .theme-options-button {
    position: absolute;
    top: 160px;
    right: 0;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
    margin: 0;
    pointer-events: auto;
    opacity: 0.9;
    z-index: 998;

    &.right-side-panel {
      @include media-breakpoint("gt-md") {
        right: 70px;
      }
    }

    &.side-panel-hidden {
      right: 0 !important;
    }

    mat-icon {
      animation: rotating 3s linear infinite;
    }

    &:hover {
      opacity: 1;
    }
  }

  .theme-options-sidebar {
    width: 360px;
    min-width: 360px;
    max-width: 360px;
  }

  .banner {
    color: white;
    background: #ff416c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ff4b2b, #ff416c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #ff4b2b,
      #ff416c
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center;
    font-weight: bold;
    width: 280px;
    padding: 10px;
    position: absolute;
    top: 55px;
    left: -70px;
    z-index: 99999;
    opacity: 0.87;
    transform: rotate(-45deg);
  }
}
