
<div fxFlex fxLayout="row" fxLayoutAlign="start center" class="p-24">

    <div class="close-button-wrapper" fxFlex="0 1 auto" fxFlex.gt-sm="220px" (click)="onDeselectAll()">
        <button class="p-8" mat-button fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="mr-8">arrow_back</mat-icon>
            <span class="text-uppercase">{{'SELECT-BAR.back' | translate}}</span>
        </button>
    </div>

    <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.gt-sm="space-between center">

        <div>
            <span class="selected-contacts-count">
                <span class="mr-4">{{selectedSitesLength}} </span>
                <span>{{'SELECT-BAR.selected' | translate}}</span>
            </span>

            <button mat-icon-button [matMenuTriggerFor]="selectMenu">
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #selectMenu="matMenu">
                <button mat-menu-item (click)="onSelectAll()">{{'SELECT-BAR.selectAll' | translate}}</button>
                <button mat-menu-item (click)="onDeselectAll()">{{'SELECT-BAR.deselectAll' | translate}}</button>
            </mat-menu>

        </div>

        <div class="multi-select-actions">
            <button mat-icon-button (click)="export()"
                    matTooltip="{{'SELECT-BAR.exportSelected' | translate}}" 
                    matTooltipPosition="below">
                <mat-icon>list_alt</mat-icon>
            </button>
            <!-- <button *ayamsHasAnyPermissions="['chains:delete','chains:*','*:delete','*:*']" mat-icon-button (click)="onDeleteSelected()"
                    matTooltip="{{'SELECT-BAR.removeSelected' | translate}}" 
                    matTooltipPosition="below">
                <mat-icon>delete</mat-icon>
            </button> -->
        </div>

    </div>

</div>