
.mat-list-item {
    height: 40px !important;
    font-size: 15px !important;
}

.mat-input-placeholder {
    color: black
}

.mat-list-item-content {
    padding: 0px !important;
}

.duallistbox-fieldset {
    padding-top: 15px;
    border-radius: 7px;
    border: 1px solid rgb(224, 224, 224);
    margin-top: 15px;
    height: 100%;

    legend {
        padding-left: 5px;
        padding-right: 5px;
    }
}
.selectAllButtons{
    position: relative;
    top: 150px;
   
}
body.theme-default .mat-nav-list .mat-list-item:hover{
    background: none;
    color: #039be5;
}