<div id="ouvrages" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent" id="headerHeight"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div [ngClass]="{HideTable: emptyList}" class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <span class="logo-text h1">
                   Ouvrages <!-- {{'LIST.HEADER.title' | translate}} -->
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <ng-container *ayamsHasAnyPermissions="['*:*']">
                <div class="search-wrapper mx-32 mx-md-0">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input matInput (keyup)="applyFilter($event.target.value)"
                            placeholder="Recherche">
                    </div>
                </div>
                <!-- / SEARCH -->

                <button mat-raised-button (click)="export()" class="mat-white-bg mt-24 mt-md-0" [disabled]="!btnExport">
                    <span>Exporter</span>
                </button>
            </ng-container>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <ng-container *ayamsHasAnyPermissions="['*:*']">
            <div class="example-container mat-white-bg">

                <table mat-table  [dataSource]="dataSource" matSort >

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="checkbox">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox></mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let ouvrage">
                            <ng-container>
                                <mat-checkbox [(ngModel)]="ouvragesCheckbox[ouvrage.id]"
                                    (ngModelChange)="onSelectedChange(ouvrage)" (click)="$event.stopPropagation()">
                                </mat-checkbox>
                            </ng-container>
                        </td>
                    </ng-container>

                    <!-- Code Column -->
                    <ng-container matColumnDef="ouvrageCode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code
                        </th>
                        <td mat-cell *matCellDef="let ouvrage">
                            <p class="text-truncate">{{ouvrage.id}}</p>
                        </td>
                    </ng-container>

                    <!-- Code Designation -->
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type
                        </th>
                        <td mat-cell *matCellDef="let ouvrage">
                            <p class="text-truncate">{{ouvrage.type}}</p>
                        </td>
                    </ng-container>

                    <!-- Code Column -->
                    <ng-container matColumnDef="commune">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Unite
                        </th >
                        <td mat-cell *matCellDef="let ouvrage">
                            <p class="text-truncate">{{ouvrage.commune}}</p>
                        </td>
                    </ng-container>

                    <!-- Code Column -->
                    <ng-container matColumnDef="debit">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Debit
                        </th>
                        <td mat-cell *matCellDef="let ouvrage">
                            <p class="text-truncate">{{ouvrage.currentCapacity}}</p>
                        </td>
                    </ng-container>

                    <!-- Permissions Column -->
                    <ng-container matColumnDef="enabled">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fonctionnement
                        </th >
                        <td mat-cell *matCellDef="let ouvrage">
                            <mat-icon *ngIf="ouvrage.enabled" class="active-icon green-600-bg fuse-white-500-fg s-16">check
                            </mat-icon>
                            <mat-icon *ngIf="!ouvrage.enabled" class="active-icon red-500-bg fuse-white-500-fg s-16">close
                            </mat-icon>
                        </td>
                    </ng-container>


                    <!-- Buttons Column -->
                    <ng-container matColumnDef="buttons" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let ouvrage">
                            <div fxFlex="row" fxLayoutAlign="center">

                                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                    (click)="$event.stopPropagation();">
                                    <mat-icon class="secondary-text">more_vert</mat-icon>
                                </button>

                                <mat-menu #moreMenu="matMenu">
                                    <ng-container *ayamsHasAnyPermissions="['ouvrages:edit','ouvrages:*','*:edit','*:*']">
                                        <button mat-menu-item aria-label="edit"
                                            (click)="router.navigate(['/patrimony/ouvrages/'+ouvrage.id+'/edit'])">
                                            <mat-icon>edit</mat-icon>
                                            <span>{{'LIST.TABLE.action.edit' | translate}}</span>
                                        </button>
                                    </ng-container>
                                    <ng-container
                                        *ayamsHasAnyPermissions="['ouvrages:delete','ouvrages:*','*:delete','*:*']">
                                        <button mat-menu-item aria-label="remove" (click)="onDelete(ouvrage)">
                                            <mat-icon>delete</mat-icon>
                                            <span>{{'LIST.TABLE.action.remove' | translate}}</span>
                                        </button>
                                    </ng-container>
                                </mat-menu>
                            </div>

                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                    <ng-container *ayamsHasAnyPermissions="['ouvrages:show','ouvrages:*','*:show','*:*']">
                        <tr mat-row *matRowDef="let ouvrage; columns: displayedColumns;" class="ouvrage" matRipple
                            (click)="router.navigate(['/patrimony/ouvrages/'+ouvrage.id+'/show'])">
                        </tr>
                    </ng-container>
                </table>

            </div>

        </ng-container>
        <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>