<div id="login" fxLayout="row" fxLayoutAlign="start">

    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo"  [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/ade.png">
        </div>

        <div class="title"  [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
                {{'CHANGEPASSWORD.INTRO.title' | translate}}
        </div>

        <div class="description"  [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
                {{'CHANGEPASSWORD.INTRO.description' | translate}}
        </div>

    </div>

    <div id="login-form-wrapper" fusePerfectScrollbar  [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="login-form">

            <div class="logo" fxHide.gt-xs>
                <img style="height: 128px" src="assets/images/logos/ade.png">
            </div>

            <div class="title">{{'CHANGEPASSWORD.FORM.title' | translate}}</div>

            <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmitForm()" novalidate>

                <!-- Current Password -->
                 <mat-form-field appearance="outline">
                    <mat-label>{{'CHANGEPASSWORD.FORM.PASSWORD.placeholder' | translate}}</mat-label>
                    <input matInput type="password" formControlName="currentPassword">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="loginForm.get('currentPassword').hasError('required')">
                            {{'CHANGEPASSWORD.FORM.PASSWORD.ERROR.required' | translate}}
                    </mat-error>
                </mat-form-field>

                <!-- New Password -->
                 <mat-form-field appearance="outline">
                    <mat-label>{{'CHANGEPASSWORD.FORM.NEWPASSWORD.placeholder' | translate}}</mat-label>
                    <input matInput type="password" formControlName="newPassword">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="loginForm.get('newPassword').hasError('required')">
                            {{'CHANGEPASSWORD.FORM.NEWPASSWORD.ERROR.required' | translate}}
                            
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('newPassword').hasError('sameCurrentPswd')">
                        {{'CHANGEPASSWORD.FORM.NEWPASSWORD.ERROR.sameCurrentPswd' | translate}}
                        
                    </mat-error>
                </mat-form-field>

                <!-- New Password Copy -->
                 <mat-form-field appearance="outline">
                    <mat-label>{{'CHANGEPASSWORD.FORM.NEWPASSWORDCOPY.placeholder' | translate}}</mat-label>
                    <input matInput type="password" formControlName="newPasswordCopy">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="loginForm.get('newPasswordCopy').hasError('required')">
                            {{'CHANGEPASSWORD.FORM.NEWPASSWORDCOPY.ERROR.required' | translate}}
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('newPasswordCopy').hasError('different') && !loginForm.get('newPasswordCopy').hasError('required')">
                            {{'CHANGEPASSWORD.FORM.NEWPASSWORDCOPY.ERROR.different' | translate}}
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN" [disabled]="loginForm.invalid || changePasswordService.disabled">
                        {{'CHANGEPASSWORD.FORM.CONNEXION.label' | translate}}
                </button>

            </form>

        </div>
    </div>
</div>