<p class="myp" *ngIf="!exist">{{'FIELD.decanteurInexistante' | translate}}</p>
<div>
    <button mat-raised-button  class="accent add-button"  (click)="toggleExist()" *ngIf="!exist">
        <span >{{'BUTTON.addComposant' | translate}}</span>
    </button>
</div>
<form name="ouvrageForm" [formGroup]="decanteurForm" class="w-100-p" fxLayout="column" fxFlex *ngIf="exist">

    <div class="tab-content p-24" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">

        

        <div fxLayout="column" fxLayout.gt-sm="row">
            <div class="mr-sm-12 ml-sm-12" fxFlex>

                    <div>
                        <mat-slide-toggle matInput name="enabled" formControlName="enabled"  required [checked]="equipement.enabled" (change)="toggleEnabled()">
                            <span *ngIf="equipement.enabled"> {{ 'FIELD.enabledActive' | translate }} </span>
                            <span *ngIf="!equipement.enabled"> {{ 'FIELD.enabledInactive' | translate }} </span>
                        </mat-slide-toggle>
                    </div>
                    <br/>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.state' | translate}}</mat-label>
                        <mat-select formControlName="state" required>
                            <mat-option value="Bon">Bon</mat-option>
                            <mat-option value="Moyen">Moyen</mat-option>
                            <mat-option value="Mauvais">Mauvais</mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100-p" >
                        <mat-label>{{'FIELD.type' | translate}}</mat-label>
                        <input matInput name="type" formControlName="type" required>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                    </mat-form-field>

                    <div>
                        <mat-form-field appearance="outline" class="w-100-p" >
                            <mat-label>{{'FIELD.form' | translate}}</mat-label>
                            <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                            <input matInput name="form" formControlName="form" required>
                        </mat-form-field>
                    </div>

            </div>

            <div class="mr-sm-12 ml-sm-12" fxFlex>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.number' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="number" formControlName="number" required>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="w-100-p" >
                        <mat-label>{{'FIELD.nature' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="nature" formControlName="nature" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.capacity' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="capacity" formControlName="capacity" required>
                    </mat-form-field>

            </div>

        </div>

        <div>
            <button mat-raised-button class="accent add-button"  [disabled]="decanteurForm.invalid" (click)="onSave()">
                <span *ngIf="add">{{'BUTTON.add' | translate}}</span>
                <span *ngIf="!add">{{'BUTTON.update' | translate}}</span>
            </button>
        </div>


    </div>

</form>

