<p class="myp" *ngIf="!exist">{{'FIELD.batimentElectriqueInexistante' | translate}}</p>
<form name="ouvrageForm" [formGroup]="batimentElectForm" class="w-100-p" fxLayout="column" fxFlex *ngIf="exist">

    <div class="tab-content p-24" fusePerfectScrollbar>

        

        <div fxLayout="column" fxLayout.gt-sm="row">
            <div class="mr-sm-12 ml-sm-12" fxFlex>

                 <mat-form-field appearance="outline" class="w-100-p" >
                        <mat-label>{{'FIELD.area' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="area" formControlName="area" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100-p" >
                        <mat-label>{{'FIELD.state' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="state" formControlName="state" required>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.nature' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="nature" formControlName="nature" required>
                    </mat-form-field>

                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>

            </div>

        </div>

        <div>
            <button mat-raised-button class="accent add-button"  [disabled]="batimentElectForm.invalid" (click)="onSave()">
                <span *ngIf="add">{{'BUTTON.add' | translate}}</span>
                <span *ngIf="!add">{{'BUTTON.update' | translate}}</span>
            </button>
        </div>

    </div>

</form>
