<p class="myp" *ngIf="!exist">{{'FIELD.groupeElectrogeneInexistante' | translate}}</p>
<form name="ouvrageForm" [formGroup]="groupeElectrogeneForm" class="w-100-p" fxLayout="column" fxFlex *ngIf="exist">

    <div class="tab-content p-24" fusePerfectScrollbar>



        <div fxLayout="column" fxLayout.gt-sm="row">
            <div class="mr-sm-12 ml-sm-12" fxFlex>

                    <mat-form-field appearance="outline" class="w-100-p" >
                        <mat-label>{{'FIELD.puissance' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="puissance" formControlName="puissance" required>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.cuve' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="cuve" formControlName="cuve" required>
                    </mat-form-field>

            </div>

            <div class="mr-sm-12 ml-sm-12" fxFlex>

                    <mat-form-field appearance="outline" class="w-100-p" >
                        <mat-label>{{'FIELD.number' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="number" formControlName="number" required>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.nature' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="nature" formControlName="nature" required>
                    </mat-form-field>

            </div>
        </div>

        <div>
            <button mat-raised-button class="accent add-button" [routerLink]="'/patrimony/ouvrages/list'" [disabled]="groupeElectrogeneForm.invalid" (click)="onSave()">
                <span *ngIf="add">{{'BUTTON.add' | translate}}</span>
                <span *ngIf="!add">{{'BUTTON.update' | translate}}</span>
            </button>
        </div>

    </div>

</form>