<p class="myp" *ngIf="!exist">{{'FIELD.groupeElectroPompePompeInexistante' | translate}}</p>
<form name="ouvrageForm" [formGroup]="grouprElecPPForm" class="w-100-p" fxLayout="column" fxFlex *ngIf="exist">

    <div class="tab-content p-24" fusePerfectScrollbar>

        <div *ngIf="add">
            <button mat-raised-button class=" mat-white-bg" matStepperNext>
                <span>{{'BUTTON.disponible' | translate}}</span>
            </button>
        </div>
        <hr>

        <div fxLayout="column" fxLayout.gt-sm="row">
            <div class="mr-sm-12 ml-sm-12" fxFlex>

                <fieldset class="myfieldset">

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.nbService' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="nbService" formControlName="nbService" required>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="w-100-p" >
                        <mat-label>{{'FIELD.nbSecours' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="nbSecours" formControlName="nbSecours" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.genre' | translate}}</mat-label>
                        <mat-select formControlName="genre" required>
                            <mat-option value="MultiC">Multi C</mat-option>
                            <mat-option value="UniC">Uni C</mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.marque' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="marque" formControlName="marque" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.debit' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="debit" formControlName="debit" required>
                    </mat-form-field>


                </fieldset>
            </div>

            <div class="mr-sm-12 ml-sm-12" fxFlex>
                <fieldset class="myfieldset">

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.operatingDate' | translate}}</mat-label>
                        <input matInput [matDatepicker]="picker1" name="commissioningDate" formControlName="commissioningDate" required>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="w-100-p" >
                        <mat-label>{{'FIELD.rotationSpeed' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="rotationSpeed" formControlName="rotationSpeed" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.npsh' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="npsh" formControlName="npsh" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.state' | translate}}</mat-label>
                        <mat-select formControlName="state" required>
                            <mat-option value="Bon">Bon</mat-option>
                            <mat-option value="Moyen">Moyen</mat-option>
                            <mat-option value="Mauvais">Mauvais</mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.hmt' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="hmt" formControlName="hmt" required>
                    </mat-form-field>


                </fieldset>
            </div>


        </div>
        <hr>
        <div>
            <button mat-raised-button class=" mat-white-bg" matStepperNext [disabled]="grouprElecPPForm.invalid" (click)="onSave()">
                <span *ngIf="add">{{'BUTTON.add' | translate}}</span>
                <span *ngIf="!add">{{'BUTTON.update' | translate}}</span>
            </button>
        </div>
    </div>

</form>

