.notificationcolor {
    background-color: #E6F3F4 !important;
    border-color: #dddddd !important;
 }
 
 .notification-list{
     border-block-end:  0.5px solid #E0E0E0;
     cursor: pointer;
     background-color: white;
 }

 .notification-block{
     margin: 20px;
 }

 .icon-color{
    color: #7D818C;
 }

 .icon-color:hover{
    color: #F44336;
}