
.alert {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 5px; 
  display: flex;
  align-items: center;
  }

  .alert-error {
    @extend .alert;
    background-color: #E53935;
    border-color: #df2d2d;
    color: #ffffff; 
   }

   .alert-warning {
    @extend .alert;
    background-color: #E65100;
    border-color: #f55600;
    color: #ffffff; 
   }

   .alert-info {
    @extend .alert;
    background-color:#4ebce0;
    border-color:#4ebce0;
    color: #ffffff; 
   }
   .alert-success {
    @extend .alert;
    background-color: #43A047;
    border-color: #43A047;
    color: #ffffff; 
   }

.class-plt{
  padding-left:10px;
  padding-top: 3px;
}
