<p class="myp" *ngIf="!exist">{{'FIELD.soupapeDechargeInexistante' | translate}}</p>
<div class="tab-content p-24" fusePerfectScrollbar *ngIf="exist">
    <div fxLayout="column" fxLayout.gt-sm="row">
        <div class="mr-sm-12 ml-sm-12" fxFlex>

            <fieldset class="myfieldset">

                <div class="mr-sm-24" fxFlex>
                    <p class="myLabel">{{'FIELD.marque' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{soupape.marque}}</span>
                    </p>
                </div>

                <div class="mr-sm-24" fxFlex>
                    <p class="myLabel">{{'FIELD.type' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{soupape.type}}</span>
                    </p>
                </div>

                <div class="mr-sm-24" fxFlex>
                    <p class="myLabel">{{'FIELD.presseionTarage' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{soupape.presseionTarage}}</span>
                    </p>
                </div>
                
            </fieldset>
        </div>

        <div class="mr-sm-12 ml-sm-12" fxFlex>
            <fieldset class="myfieldset">

                <div class="mr-sm-24" fxFlex>
                    <p class="myLabel">{{'FIELD.presseionService' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{soupape.presseionService}}</span>
                    </p>
                </div>

                <div class="mr-sm-24" fxFlex>
                    <p class="myLabel">{{'FIELD.presseionEtanchiete' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{soupape.presseionEtanchiete}}</span>
                    </p>
                </div>

            </fieldset>
        </div>


    </div>
</div>


