<div id="stepper" class="page-layout simple left-sidebar inner-scroll">

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="left-sidebar" position="left" lockedOpen="gt-md">

        <!-- SIDEBAR CONTENT -->
        <div class="content" fusePerfectScrollbar>

            <div class="steps">

                <div class="step"
                    *ngFor="let composant of composants; let i = index; let last = last; let first = first"
                    (click)="gotoStep(i)"
                    [ngClass]="{'current': currentStep === i, 'completed': currentStep > i, 'last': last, 'first': first}">
                    <div class="index">
                        <span>{{i + 1}}</span>
                    </div>
                    <div class="title">{{composant.title}}</div>
                </div>

            </div>

        </div>
        <!-- / SIDEBAR CONTENT -->

    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="space-between center"
            [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">

            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-16" [routerLink]="'/patrimony/inventory/current'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        {{composants[currentStep].title}} - {{code}}
                    </div>
                </div>
            </div>

            <ng-container>
                <button mat-raised-button (click)="inventoryOuvrageValidate()" class="mat-white-bg mt-24 mt-md-0">
                    <span>{{'LIST.HEADER.validate' | translate}}</span>
                </button>
            </ng-container>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div id="content" class="content">

            <div class="stepper-step" fusePerfectScrollbar [@slideIn]="animationDirection">

                <div id="course-step-content" class="course-step-content">
                    <ng-template host></ng-template>
                </div>

            </div>

        </div>
        <!-- / CONTENT -->

        <div class="step-navigation">

            <button *ngIf="action == 'edit'" mat-fab class="previous mat-accent fuse-white-fg"
                (click)="gotoPreviousStep()" [disabled]="currentStep === 0" [fxHide]="currentStep === 0">
                <mat-icon>chevron_left</mat-icon>
            </button>

            <button mat-fab class="next mat-accent fuse-white-fg" (click)="gotoNextStep()"
                [disabled]="currentStep === composants.length - 1" [fxHide]="currentStep === composants.length - 1">
                <mat-icon>chevron_right</mat-icon>
            </button>

            <button mat-fab class="done green-600" routerLink="/patrimony/ouvrages/list"
                [disabled]="currentStep !== composants.length - 1" [fxShow]="currentStep === composants.length - 1">
                <mat-icon>check</mat-icon>
            </button>

        </div>

    </div>
    <!-- / CENTER -->

</div>