<p class="myp" *ngIf="!exist">{{'FIELD.clapetAntiRetourInexistante' | translate}}</p>
<div>
    <button mat-raised-button  class="accent add-button"  (click)="toggleExist()" *ngIf="!exist">
        <span >{{'BUTTON.addComposant' | translate}}</span>
    </button>
</div>
<form name="ouvrageForm" [formGroup]="equipementHydroMecaForm" class="w-100-p" fxLayout="column" fxFlex *ngIf="exist">

    <div class="tab-content p-24" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">



        <div fxLayout="column" fxLayout.gt-sm="row">
            <div class="mr-sm-12 ml-sm-12" fxFlex>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.state' | translate}}</mat-label>
                        <mat-select formControlName="state" required>
                            <mat-option value="GOOD">Bon</mat-option>
                            <mat-option value="AVERAGE">Moyen</mat-option>
                            <mat-option value="BAD">Mauvais</mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.dn' | translate}}</mat-label>
                        <input matInput name="dn" formControlName="dn" required>
                        <span matSuffix>mm</span>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="w-100-p" >
                        <mat-label>{{'FIELD.pn' | translate}}</mat-label>
                        <input matInput name="pn" formControlName="pn" required>
                        <span matSuffix>Kpa</span>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100-p" >
                        <mat-label>{{'FIELD.number' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="number" formControlName="number" required>
                    </mat-form-field>

                <mat-form-field appearance="outline" class="w-100-p" >
                    <mat-label>{{'FIELD.cost' | translate}}</mat-label>
                    <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                    <input matInput name="cost" formControlName="cost" required>
                </mat-form-field>


            </div>

            <div class="mr-sm-12 ml-sm-12" fxFlex>

                    <mat-form-field appearance="outline" class="w-100-p" >
                        <mat-label>{{'FIELD.type' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="type" formControlName="type" required>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="w-100-p" >
                        <mat-label>{{'FIELD.materiaux' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="materiaux" formControlName="materiaux" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.lieuImplantation' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="lieuImplantation" formControlName="lieuImplantation" required>
                    </mat-form-field>

            </div>


        </div>

        <div>
            <button mat-raised-button class="accent add-button"  [disabled]="equipementHydroMecaForm.invalid" (click)="onSave()">
                <span *ngIf="add">{{'BUTTON.add' | translate}}</span>
                <span *ngIf="!add">{{'BUTTON.update' | translate}}</span>
            </button>
        </div>
    </div>

</form>

