// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

// regular style toast
@import '~ngx-toastr/toastr.css';

// TIMELINE
@import "~angular-vertical-timeline/dist/vertical-timeline.css";

/* add by salah */
.mat-menu-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .mat-paginator-container {
    padding: 0px 50px 0px 0px !important;
  }
  
  .mat-tab-label
  {
    height: 55px !important;
  }

  .mat-menu-panel {
    max-width: 100% !important;
     overflow: hidden !important;
  }