<ng-container *ayamsHasAnyPermissions="['agencies:show','agencies:*','*:show','*:*']">

    <div id="agency" class="page-layout carded fullwidth inner-scroll">

        <!-- TOP BACKGROUND -->
        <div class="top-bg accent"></div>
        <!-- / TOP BACKGROUND -->

        <!-- CENTER -->
        <div class="center">

            <!-- HEADER -->
            <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

                <!-- APP TITLE -->
                <div fxLayout="row" fxLayoutAlign="start center">

                    <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/admin/agencies'">
                        <mat-icon>arrow_back</mat-icon>
                    </button>


                    <div fxLayout="column" fxLayoutAlign="start start"
                        [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        <div class="h2">
                            {{'SHOW.HEADER.title' | translate}} {{agency.code}}
                        </div>

                    </div>
                </div>
                <!-- / APP TITLE -->


            </div>
            <!-- / HEADER -->

            <!-- CONTENT CARD -->
            <div class="content-card mat-white-bg">

                <!-- CONTENT -->
                <div class="content">

                    <div class="tab-content p-24" fusePerfectScrollbar>
                        <div class="ml-sm-12" fxLayout="column" fxLayout.gt-sm="row">

                            <div class="mr-sm-24" fxFlex>
                                <p class="myLabel">{{'SHOW.LABEL.code' | translate}}</p>
                                <p class="myp">
                                    <mat-icon matPrefix class="mr-12 s-20" color="accent">clear_all</mat-icon>
                                    <span>{{agency.code}}</span>
                                </p>
                            </div>

                            <div class="mr-sm-24" fxFlex>
                                <p class="myLabel">{{'SHOW.LABEL.center' | translate}}</p>
                                <p class="myp">
                                    <mat-icon matPrefix class="mr-12 s-20" color="accent">location_city</mat-icon>
                                    <span>{{agency.center.designation}}</span>
                                </p>
                            </div>

                            <div class="mr-sm-24" fxFlex>
                                <p class="myLabel">{{'SHOW.LABEL.agencyType' | translate}}</p>
                                <p class="myp">
                                    <mat-icon matPrefix class="mr-12 s-20" color="accent">domain</mat-icon>
                                    <span>{{agency.agencyType.designation}}</span>
                                </p>
                            </div>

                            <div class="mr-sm-24" fxFlex>
                                <p class="myLabel">{{'SHOW.LABEL.designation' | translate}}</p>
                                <p class="myp">
                                    <mat-icon matPrefix class="mr-12 s-20" color="accent">crop_free</mat-icon>
                                    <span>{{agency.designation}}</span>
                                </p>
                            </div>

                        </div>

                        <div fxLayout="column" fxLayout.gt-sm="row">

                            <div class="mr-sm-12 ml-sm-12" fxFlex>
                                <fieldset class="myfieldset">
                                    <legend>{{'SHOW.LEGENDS.agencies' | translate}}</legend>

                                    <div class="w-100-p">
                                        <p class="myLabel">{{'SHOW.LABEL.address' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">place</mat-icon>
                                            <span>{{agency.address}}</span>
                                        </p>
                                    </div>

                                    <div class="w-100-p">
                                        <p class="myLabel">{{'SHOW.LABEL.phone' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">phone</mat-icon>
                                            <span>{{agency.phone}}</span>
                                        </p>
                                    </div>

                                    <div class="w-100-p">
                                        <p class="myLabel">{{'SHOW.LABEL.email' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">email</mat-icon>
                                            <span>{{agency.email}}</span>
                                        </p>
                                    </div>
                                </fieldset>
                            </div>


                            <div class="ml-sm-12 mr-sm-12" fxFlex *ngIf="agency.headOfTheStructure">
                                <fieldset class="myfieldset">
                                    <legend>{{'SHOW.LEGENDS.headOfTheStructure' | translate}}</legend>

                                    <div class="w-100-p">
                                        <p class="myLabel">{{'SHOW.LABEL.headOfTheStructure' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">account_circle
                                            </mat-icon>
                                            <span>{{agency.headOfTheStructure.lastName}}
                                                {{agency.headOfTheStructure.firstName}}</span>
                                        </p>
                                    </div>

                                    <div class="w-100-p">
                                        <p class="myLabel">{{'SHOW.LABEL.phone' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">phone</mat-icon>
                                            <span>{{agency.headOfTheStructure.phoneNumber}}</span>
                                        </p>
                                    </div>

                                    <div class="w-100-p">
                                        <p class="myLabel">{{'SHOW.LABEL.email' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">email</mat-icon>
                                            <span>{{agency.headOfTheStructure.email}}</span>
                                        </p>
                                    </div>

                                </fieldset>
                            </div>
                        </div>

                        <!-- OTHERS INFORMATIONS -->
                        <div fxLayout="column" fxLayout.gt-sm="row">

                            <div class="mr-sm-12 ml-sm-12" fxFlex>
                                <fieldset class="myfieldset">
                                    <legend>{{'SHOW.LEGENDS.agencies' | translate}}</legend>

                                    <div class="w-100-p">
                                        <p class="myLabel">{{'SHOW.LABEL.address' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">place</mat-icon>
                                            <span>{{agency.address}}</span>
                                        </p>
                                    </div>

                                    <div class="w-100-p">
                                        <p class="myLabel">{{'SHOW.LABEL.phone' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">phone</mat-icon>
                                            <span>{{agency.phone}}</span>
                                        </p>
                                    </div>

                                    <div class="w-100-p">
                                        <p class="myLabel">{{'SHOW.LABEL.email' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">email</mat-icon>
                                            <span>{{agency.email}}</span>
                                        </p>
                                    </div>
                                </fieldset>
                            </div>


                            <div class="ml-sm-12 mr-sm-12" fxFlex>
                                <fieldset class="myfieldset">
                                    <!-- LEGEND -->
                                    <legend>{{'SHOW.LEGENDS.others' | translate}}</legend>

                                    <!-- FAX -->
                                    <div class="w-100-p">
                                        <p class="myLabel">{{'SHOW.LABEL.fax' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">account_circle
                                            </mat-icon>
                                            <span>{{agency.fax}}</span>
                                        </p>
                                    </div>

                                    <!-- RIB -->
                                    <div class="w-100-p">
                                        <p class="myLabel">{{'SHOW.LABEL.rib' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">account_circle
                                            </mat-icon>
                                            <span>{{agency.rib}}</span>
                                        </p>
                                    </div>

                                    <!-- RIP -->
                                    <div class="w-100-p">
                                        <p class="myLabel">{{'SHOW.LABEL.rip' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">account_circle
                                            </mat-icon>
                                            <span>{{agency.rip}}</span>
                                        </p>
                                    </div>

                                    <!-- AGENCY -->
                                    <div class="w-100-p">
                                        <p class="myLabel">{{'SHOW.LABEL.agency' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">account_circle
                                            </mat-icon>
                                            <span>{{agency.agency}}</span>
                                        </p>
                                    </div>

                                    <!-- TAX ID NUMBER -->
                                    <div class="w-100-p">
                                        <p class="myLabel">{{'SHOW.LABEL.taxIdNumber' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">account_circle
                                            </mat-icon>
                                            <span>{{agency.taxIdNumber}}</span>
                                        </p>
                                    </div>

                                    <!-- THIRD PARTY CODE -->
                                    <div class="w-100-p">
                                        <p class="myLabel">{{'SHOW.LABEL.thirdPartyCode' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">account_circle
                                            </mat-icon>
                                            <span>{{agency.thirdPartyCode}}</span>
                                        </p>
                                    </div>

                                    <!-- BANK OF DOMICILIATION -->
                                    <div class="w-100-p">
                                        <p class="myLabel">{{'SHOW.LABEL.bankOfDomiciliation' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">account_circle
                                            </mat-icon>
                                            <span>{{agency.bankOfDomiciliation}}</span>
                                        </p>
                                    </div>

                                    <!-- BUSINESS REGISTER NUMBER -->
                                    <div class="w-100-p">
                                        <p class="myLabel">{{'SHOW.LABEL.businessRegisterNumber' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">account_circle
                                            </mat-icon>
                                            <span>{{agency.businessRegisterNumber}}</span>
                                        </p>
                                    </div>

                                    <!-- TAX IDENTIFICATION NUMBER -->
                                    <div class="w-100-p">
                                        <p class="myLabel">{{'SHOW.LABEL.taxIdentificationNumber' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">account_circle
                                            </mat-icon>
                                            <span>{{agency.taxIdentificationNumber}}</span>
                                        </p>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div fxLayout="row">
                            <div class="ml-sm-12 mr-sm-12" fxFlex>
                                <fieldset class="myfieldset">
                                    <legend>{{'SHOW.LEGENDS.location' | translate}}</legend>
                                    <div class="mapcls">
                                        <div leaflet [leafletOptions]="options" [leafletLayersControl]="layersControl"
                                            class="mapwh">
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / CONTENT -->
            </div>
            <!-- / CONTENT CARD -->
        </div>
        <!-- / CENTER -->
    </div>
</ng-container>