<ng-container *ayamsHasAnyPermissions="['profils:add','profils:edit','profils:*','*:edit','*:add','*:*']">
    <div id="profil" class="page-layout carded fullwidth inner-scroll">

        <!-- TOP BACKGROUND -->
        <div class="top-bg accent"></div>
        <!-- / TOP BACKGROUND -->

        <!-- CENTER -->
        <div class="center">

            <!-- HEADER -->
            <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

                <!-- APP TITLE -->
                <div fxLayout="row" fxLayoutAlign="start center">

                    <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/admin/profils'">
                        <mat-icon>arrow_back</mat-icon>
                    </button>


                    <div fxLayout="column" fxLayoutAlign="start start"
                        [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        <div class="h2" *ngIf="pageType ==='edit'">
                            {{'ADD-EDIT.HEADER.title-edit' | translate}}
                        </div>
                        <div class="h2" *ngIf="pageType ==='add'">
                            {{'ADD-EDIT.HEADER.title-add' | translate}}
                        </div>
                    </div>
                </div>
                <!-- / APP TITLE -->

                <button mat-raised-button class="save-profil-button mat-white-bg" [disabled]="profilForm.invalid"
                    *ngIf="pageType ==='add'" (click)="onSave()">
                    <span>{{'ADD-EDIT.BUTTON.add' | translate}}</span>
                </button>

                <button mat-raised-button class="save-profil-button mat-white-bg" [disabled]="profilForm.invalid"
                    *ngIf="pageType ==='edit'" (click)="onSave()">
                    <span>{{'ADD-EDIT.BUTTON.edit' | translate}}</span>
                </button>
            </div>
            <!-- / HEADER -->

            <!-- CONTENT CARD -->
            <div class="content-card mat-white-bg">

                <!-- CONTENT -->
                <div class="content">

                    <form name="profilForm" [formGroup]="profilForm" class="profil w-100-p" fxLayout="column" fxFlex>

                        <div class="tab-content p-24" fusePerfectScrollbar>

                            <mat-form-field appearance="outline" class="w-100-p">
                                <mat-label>{{'ADD-EDIT.PLACE-HOLDER.name' | translate}}</mat-label>
                                <mat-icon matSuffix class="secondary-text">crop_free</mat-icon>
                                <input matInput name="role" formControlName="role">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="w-100-p">
                                <mat-label>{{'ADD-EDIT.PLACE-HOLDER.designation' | translate}}</mat-label>
                                <mat-icon matSuffix class="secondary-text">crop_free</mat-icon>
                                <input matInput name="designation" formControlName="designation">
                            </mat-form-field>
                            <span>permissions :</span>
                            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
                                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                                    <li class="mat-tree-node">
                                      <!-- use a disabled button to provide padding for tree leaf -->
                                      <button mat-icon-button disabled></button>
                                      <mat-checkbox (change)="childSelect(node)" [(ngModel)]="node.checked" [ngModelOptions]="{standalone: true}">{{node.description}}</mat-checkbox>
                                    </li>
                                </mat-tree-node>
                                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                                    <li>
                                      <div class="mat-tree-node">
                                        <button mat-icon-button matTreeNodeToggle
                                                [attr.aria-label]="'toggle ' + node.name">
                                          <mat-icon class="mat-icon-rtl-mirror">
                                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                          </mat-icon>
                                        </button>
                                        <mat-checkbox (change)="parentSelect(node)" [(ngModel)]="node.checked" [ngModelOptions]="{standalone: true}">{{node.description}}</mat-checkbox>
                                      </div>
                                      <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                                        <ng-container matTreeNodeOutlet></ng-container>
                                      </ul>
                                    </li>
                                  </mat-nested-tree-node>
                            </mat-tree>
                            <!-- <mat-form-field appearance="outline" class="w-100-p">
                                <mat-label>{{'ADD-EDIT.PLACE-HOLDER.permissions' | translate}}</mat-label>
                                <mat-icon matSuffix class="secondary-text">lock_open</mat-icon>
                                <mat-chip-list #chipList>
                                    <mat-chip *ngFor="let permission of profil.authorities" [selectable]="selectable"
                                        [removable]="removable" (removed)="remove(permission)">
                                        {{permission.description}}
                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                    </mat-chip>

                                    <input #profilInput formControlName="authorities" [matAutocomplete]="auto"
                                        [matChipInputFor]="chipList"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                                </mat-chip-list>

                                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                    <mat-option *ngFor="let permission of filteredPermissions | async"
                                        [value]="permission">
                                        {{permission.description}}
                                    </mat-option>
                                </mat-autocomplete>

                            </mat-form-field> -->

                        </div>

                    </form>

                </div>
                <!-- / CONTENT -->

            </div>
            <!-- / CONTENT CARD -->

        </div>
        <!-- / CENTER -->
    </div>
</ng-container>