#inventory {

    .top-bg {
        height: 152px;
      }
      .center {
        .header {
            height: 97px !important;
            min-height: 97px !important;
            max-height: 97px !important;
        }
    }

    .header {

        .product-image {
            overflow: hidden;
            width: 56px;
            min-width: 56px;
            max-width: 56px;
            height: 56px;
            min-height: 56px;
            max-height: 56px;
            border-radius: 4px;

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .subtitle {
            margin: 6px 0 0 0;
        }
    }

    .content {

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content{
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }

        .product-image {
            overflow: hidden;
            width: 128px;
            height: 128px;
            margin-right: 16px;
            margin-bottom: 16px;
            border-radius: 4px;

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        // Temporary prefix alignment fix
        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0;
        }
    }

}

.mat-white-bg[disabled] {
    background-color: rgba(255, 255, 255, 0.52) !important;
    color: rgba(0, 0, 0, 0.26) !important;
}

.example-container {
    overflow: auto;
    background-color: white;
}

.flex-container {
    display: flex;
    flex-direction: row;
}
.example-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}
.mat-expansion-panel{
    max-height: 500px;
}

table {
    width: 100%;
    min-width: 850px;
}