<ng-container *ayamsHasAnyPermissions="['chains:show','chains:*','*:show','*:*']">
    <div id="chain" class="page-layout carded fullwidth inner-scroll">

        <!-- TOP BACKGROUND -->
        <div class="top-bg accent"></div>
        <!-- / TOP BACKGROUND -->

        <!-- CENTER -->
        <div class="center">

            <!-- HEADER -->
            <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

                <!-- APP TITLE -->
                <div fxLayout="row" fxLayoutAlign="start center">

                    <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/patrimony/chain/list'">
                        <mat-icon>arrow_back</mat-icon>
                    </button>


                    <div fxLayout="column" fxLayoutAlign="start start"
                        [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        <div class="h2">
                            {{'SHOW.HEADER.title' | translate}} {{chain.name}}
                        </div>

                    </div>
                </div>
                <!-- / APP TITLE -->
                <button mat-raised-button (click)="export()" class="mat-white-bg mt-24 mt-md-0">
                    <span>Visualiser</span>
                </button>

            </div>
            <!-- / HEADER -->
            <!-- CONTENT CARD -->
            <div class="content-card mat-white-bg">

                <!-- CONTENT -->
                <div class="content">

                    <div class="tab-content p-24" fusePerfectScrollbar>

                        <div fxLayout="column" fxLayout.gt-sm="row">
                            <div class="mr-sm-12 ml-sm-12" fxFlex>
                                <fieldset class="myfieldset">
                                    <legend>{{'SHOW.LEGENDS.infos-gen' | translate}}</legend>

                                    <div class="mr-sm-24" fxFlex>
                                        <p class="myLabel">{{'SHOW.LABEL.name' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">person</mat-icon>
                                            <span>{{chain.name}}</span>
                                        </p>
                                    </div>

                                    <div class="mr-sm-24" fxFlex>
                                        <p class="myLabel">{{'SHOW.LABEL.chaine-code' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                                            <span>{{chain.id}}</span>
                                        </p>
                                    </div>

                                    <div class="active_div">
                                        <span *ngIf="chain.enabled">
                                            <mat-icon class="active-icon green-600-bg fuse-white-500-fg s-16">check
                                            </mat-icon>
                                            {{ 'SHOW.LABEL.active' | translate }}
                                        </span>
                                        <span *ngIf="!chain.enabled">
                                            <mat-icon class="active-icon red-500-bg fuse-white-500-fg s-16">close
                                            </mat-icon>
                                            {{ 'SHOW.LABEL.inactive' | translate }}
                                        </span>
                                    </div>

                                </fieldset>
                            </div>
                        </div>

                        <div fxLayout="column" class="mr-sm-12 ml-sm-12">
                            <fieldset class="myfieldset2">
                                <legend>{{'SHOW.LEGENDS.structure' | translate}}</legend>
                                <div fxLayout="column" fxLayout.gt-sm="row">

                                    <!-- <div *ngIf="chain.structure.type == 'UNIT' || chain.structure.type == 'CENTER'"
                                        class="mr-sm-24" fxFlex>
                                        <p class="myLabel">{{'SHOW.LABEL.unit' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">home
                                            </mat-icon>
                                            <span
                                                *ngIf="chain.structure.type == 'UNIT'">{{chain.structure.designation}}</span>
                                            <span
                                                *ngIf="chain.structure.parentStructure?.type == 'UNIT'">{{chain.structure.parentStructure.designation}}</span>
                                        </p>
                                    </div> -->

                                    <!-- <div *ngIf="chain.structure.type == 'CENTER'" class="mr-sm-24" fxFlex>
                                        <p class="myLabel">{{'SHOW.LABEL.center' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">location_city</mat-icon>
                                            <span>{{chain.structure.designation}}</span>
                                        </p>
                                    </div> -->
                                </div>
                            </fieldset>
                        </div>

                    </div>
                </div>
                <!-- / CONTENT -->

            </div>
            <!-- / CONTENT CARD -->

        </div>
        <!-- / CENTER -->
    </div>
</ng-container>