<ng-container *ayamsHasAnyPermissions="['chains:show','chains:*','*:show','*:*']">
    <div id="chain" class="page-layout carded fullwidth inner-scroll">

        <!-- TOP BACKGROUND -->
        <div class="top-bg accent"></div>
        <!-- / TOP BACKGROUND -->

        <!-- CENTER -->
        <div class="center">

            <!-- HEADER -->
            <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

                <!-- APP TITLE -->
                <div fxLayout="row" fxLayoutAlign="start center">

                    <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/patrimony/chain'">
                        <mat-icon>arrow_back</mat-icon>
                    </button>


                    <div fxLayout="column" fxLayoutAlign="start start"
                        [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        <div class="h2">
                            {{'SHOW.HEADER.title' | translate}} {{chain.name}}
                        </div>

                    </div>
                </div>
                <!-- / APP TITLE -->


            </div>
            <!-- / HEADER -->
            <!-- CONTENT CARD -->
            <div class="content-card mat-white-bg">

                <!-- CONTENT -->
                <div class="content">
                    <mat-tab-group>
                        <mat-tab label="Chaine Info">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div class="ml-sm-12 mr-sm-12">
                                    <div class="mr-sm-24">
                                        <p class="myLabel">{{'SHOW.LABEL.name' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">crop_free
                                            </mat-icon>
                                            <span>{{chain.name}}</span>
                                        </p>
                                    </div>
                                    <div class="mr-sm-24">
                                        <p class="myLabel">{{'SHOW.LABEL.chaine-code' | translate}}</p>
                                        <p class="myp">
                                            <mat-icon matPrefix class="mr-12 s-20" color="accent">clear_all
                                            </mat-icon>
                                            <span>{{chain.code}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Les ouvrage de la chaine">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div *ngIf='chain.ouvrages.length' class="example-list">
                                    <div class="example-box" *ngFor="let ouvrage of chain.ouvrages; let i = index">
                                        {{i+1}} - {{ouvrage.name}}-{{ouvrage.code}}</div>
                                </div>
                                <div *ngIf='!chain.ouvrages.length'>
                                    <div class="h3 secondary-text">Cette chaine ne contient aucun ouvrage</div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Structure">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="column" class="mr-sm-12 ml-sm-12">
                                    <div fxLayout="column" fxLayout.gt-sm="row">
                                        <!-- <div *ngIf="chain.structure.type == 'UNIT' || chain.structure.type == 'CENTER'"
                                                class="mr-sm-24" fxFlex>
                                                <p class="myLabel">{{'SHOW.LABEL.unit' | translate}}</p>
                                                <p class="myp">
                                                    <mat-icon matPrefix class="mr-12 s-20" color="accent">home
                                                    </mat-icon>
                                                    <span
                                                        *ngIf="chain.structure.type == 'UNIT'">{{chain.structure.designation}}</span>
                                                    <span
                                                        *ngIf="chain.structure.parentStructure?.type == 'UNIT'">{{chain.structure.parentStructure.designation}}</span>
                                                </p>
                                            </div> -->

                                        <!-- <div *ngIf="chain.structure.type == 'CENTER'" class="mr-sm-24" fxFlex>
                                                <p class="myLabel">{{'SHOW.LABEL.center' | translate}}</p>
                                                <p class="myp">
                                                    <mat-icon matPrefix class="mr-12 s-20" color="accent">location_city</mat-icon>
                                                    <span>{{chain.structure.designation}}</span>
                                                </p>
                                            </div> -->
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <!-- / CONTENT -->

            </div>
            <!-- / CONTENT CARD -->

        </div>
        <!-- / CENTER -->
    </div>
</ng-container>