<p class="myp" *ngIf="!exist">{{'FIELD.stationPhpInexistante' | translate}}</p>
<div>
    <button mat-raised-button  class="accent add-button"  (click)="toggleExist()" *ngIf="!exist">
        <span >{{'BUTTON.addComposant' | translate}}</span>
    </button>
</div>
<form name="ouvrageForm" [formGroup]="stationPhpForm" class="w-100-p" fxLayout="column" fxFlex *ngIf="exist">

    <div class="tab-content p-24" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">



        <div fxLayout="column" fxLayout.gt-sm="row">
            <div class="mr-sm-12 ml-sm-12" fxFlex>

                    <mat-form-field appearance="outline" class="w-100-p" >
                        <mat-label>{{'FIELD.puissance' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="puissance" formControlName="puissance" required>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.hmt' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="hmt" formControlName="hmt" required>
                    </mat-form-field>

            </div>

            <div class="mr-sm-12 ml-sm-12" fxFlex>

                    <mat-form-field appearance="outline" class="w-100-p" >
                        <mat-label>{{'FIELD.nombre' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="nombre" formControlName="nombre" required>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.debit' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="debit" formControlName="debit" required>
                    </mat-form-field>

            </div>
        </div>

        <div>
            <button mat-raised-button class="accent add-button"  [disabled]="stationPhpForm.invalid" (click)="onSave()">
                <span *ngIf="add">{{'BUTTON.add' | translate}}</span>
                <span *ngIf="!add">{{'BUTTON.update' | translate}}</span>
            </button>
        </div>

    </div>

</form>