<p class="myp" *ngIf="!exist">{{'FIELD.reservoirEauBruteInexistante' | translate}}</p>
<div class="tab-content p-24" fusePerfectScrollbar *ngIf="exist">
    <div fxLayout="column" fxLayout.gt-sm="row">
        <div class="mr-sm-12 ml-sm-12" fxFlex>

                <div>
                    <p class="myLabel">{{'FIELD.enabled' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span *ngIf="equipement.enabled">{{ 'FIELD.enabledActive' | translate }}</span>
                        <span *ngIf="!equipement.enabled">{{ 'FIELD.enabledInactive' | translate }}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.state' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{equipement.state}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.type' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{equipement.type}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.form' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{equipement.form}}</span>
                    </p>
                </div>

        </div>

        <div class="mr-sm-12 ml-sm-12" fxFlex>

                <div>
                    <p class="myLabel">{{'FIELD.number' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{equipement.number}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.nature' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{equipement.nature}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.capacity' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{equipement.capacity}}</span>
                    </p>
                </div>

        </div>


    </div>
</div>


