<p class="myp" *ngIf="!exist">{{'FIELD.batimentElectriqueInexistante' | translate}}</p>
<div class="tab-content p-24" fusePerfectScrollbar *ngIf="exist">
    <div fxLayout="column" fxLayout.gt-sm="row">
        <div class="mr-sm-12 ml-sm-12" fxFlex>

                <div>
                    <p class="myLabel">{{'FIELD.area' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{batiment.area}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.state' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{batiment.state}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.nature' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{batiment.nature}}</span>
                    </p>
                </div>

        </div>
        
    </div>
</div>


