<p class="myp" *ngIf="!exist">{{'FIELD.stationPhpInexistante' | translate}}</p>
<div class="tab-content p-24" fusePerfectScrollbar *ngIf="exist">
    <div fxLayout="column" fxLayout.gt-sm="row">
        <div class="mr-sm-12 ml-sm-12" fxFlex>

            <fieldset class="myfieldset">

                <div class="mr-sm-24" fxFlex>
                    <p class="myLabel">{{'FIELD.puissance' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{stationPhp.puissance}}</span>
                    </p>
                </div>

                <div class="mr-sm-24" fxFlex>
                    <p class="myLabel">{{'FIELD.hmt' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{stationPhp.hmt}}</span>
                    </p>
                </div>

            </fieldset>
        </div>

        <div class="mr-sm-12 ml-sm-12" fxFlex>
            <fieldset class="myfieldset">

                <div class="mr-sm-24" fxFlex>
                    <p class="myLabel">{{'FIELD.nombre' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{stationPhp.nombre}}</span>
                    </p>
                </div>

                <div class="mr-sm-24" fxFlex>
                    <p class="myLabel">{{'FIELD.debit' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{stationPhp.debit}}</span>
                    </p>
                </div>

            </fieldset>
        </div>


    </div>
</div>


