<div id="addOuvrage" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/patrimony/ouvrages/add'">
                    <mat-icon>arrow_back</mat-icon>
                </button>


                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" >
                        {{'ADD.HEADER.title-add' | translate}}
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
            <button mat-raised-button class=" mat-white-bg" [disabled]="ouvrageForm.invalid" (click)="onSave()">
                <span>{{'ADD.BUTTON.add' | translate}}</span>
            </button>


        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <form name="ouvrageForm" [formGroup]="ouvrageForm" class="w-100-p" fxLayout="column" fxFlex>

                    <div class="tab-content p-24" fusePerfectScrollbar>

                        <div fxLayout="column" fxLayout.gt-sm="row">
                            <div class="mr-sm-12 ml-sm-12" fxFlex>

                                <fieldset class="myfieldset">
                                    <legend>{{'ADD.LEGENDS.general' | translate}}</legend>


                                    <mat-form-field appearance="outline" class="w-100-p" >
                                        <mat-label>{{'ADD.PLACE-HOLDER.name' | translate}}</mat-label>
                                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                                        <input matInput name="name" formControlName="name" required>
                                    </mat-form-field>


                                    <mat-form-field appearance="outline" class="w-100-p">
                                        <mat-label>{{'ADD.PLACE-HOLDER.code' | translate}}</mat-label>
                                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                                        <input matInput name="code" formControlName="code" required>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="w-100-p">
                                        <mat-label>{{'ADD.PLACE-HOLDER.state' | translate}}</mat-label>
                                        <mat-select formControlName="state" required>
                                            <mat-option value="Bon">Bon</mat-option>
                                            <mat-option value="Moyen">Moyen</mat-option>
                                            <mat-option value="Mauvais">Mauvais</mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                                    </mat-form-field>


                                    <div>
                                        <mat-slide-toggle matInput name="enabled" formControlName="enabled"
                                                           required [checked]="ouvrage.enabled" (change)="toggleEnabled()">
                                            <span *ngIf="ouvrage.enabled">
                                                {{ 'ADD.PLACE-HOLDER.enabledActive' | translate }}
                                            </span>
                                            <span *ngIf="!ouvrage.enabled">
                                                {{ 'ADD.PLACE-HOLDER.enabledInactive' | translate }}
                                            </span>
                                        </mat-slide-toggle>
                                    </div>
                                    <br/>

                                    <mat-form-field appearance="outline" class="w-100-p">
                                        <mat-label>{{'ADD.PLACE-HOLDER.constructionType' | translate}}</mat-label>
                                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                                        <input matInput name="constructionType" formControlName="constructionType" required>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="w-100-p">
                                        <mat-label>{{'ADD.PLACE-HOLDER.commissioningDate' | translate}}</mat-label>
                                        <input matInput [matDatepicker]="picker1" name="commissioningDate" formControlName="commissioningDate" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="w-100-p">
                                        <mat-label>{{'ADD.PLACE-HOLDER.operatingDate' | translate}}</mat-label>
                                        <input matInput [matDatepicker]="picker2" name="operatingDate" formControlName="operatingDate" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="w-100-p">
                                        <mat-label>{{'ADD.PLACE-HOLDER.maitreOuvrage' | translate}}</mat-label>
                                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                                        <input matInput name="maitreOuvrage" formControlName="maitreOuvrage" required>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="w-100-p">
                                        <mat-label>{{'ADD.PLACE-HOLDER.realizationCost' | translate}}</mat-label>
                                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                                        <input matInput name="realizationCost" formControlName="realizationCost" required>
                                    </mat-form-field>



                                    <mat-form-field appearance="outline" class="w-100-p" >
                                        <mat-label>{{'ADD.PLACE-HOLDER.treatmentStationType' | translate}}</mat-label>
                                        <mat-select formControlName="treatmentStationType" required>
                                            <mat-option value="Monoblocs">Monoblocs</mat-option>
                                            <mat-option value="Endur">Endur</mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                                    </mat-form-field>



                                </fieldset>
                            </div>

                            <div class="mr-sm-12 ml-sm-12" fxFlex>
                                <fieldset class="myfieldset">
                                    <legend>{{'ADD.LEGENDS.technical' | translate}}</legend>

                                    <mat-form-field appearance="outline" class="w-100-p">
                                        <mat-label>{{'ADD.PLACE-HOLDER.nbCompartment' | translate}}</mat-label>
                                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                                        <input matInput name="nbCompartment" formControlName="nbCompartment" required>
                                    </mat-form-field>


                                    <div>
                                        <mat-slide-toggle matInput name="remoteManagement" formControlName="remoteManagement"
                                                           required [checked]="ouvrage.remoteManagement" (change)="toggleRemoteManagement()">
                                            <span *ngIf="ouvrage.remoteManagement">
                                                {{ 'ADD.PLACE-HOLDER.remoteManagementActive' | translate }}
                                            </span>
                                            <span *ngIf="!ouvrage.remoteManagement">
                                                {{ 'ADD.PLACE-HOLDER.remoteManagementInactive' | translate }}
                                            </span>
                                        </mat-slide-toggle>
                                    </div>
                                    <br/>

                                    <div>
                                        <mat-slide-toggle matInput name="specializedLine" formControlName="specializedLine"
                                                           required [checked]="ouvrage.specializedLine" (change)="toggleSpecializedLine()">
                                            <span *ngIf="ouvrage.specializedLine">
                                                {{ 'ADD.PLACE-HOLDER.specializedLineActive' | translate }}
                                            </span>
                                            <span *ngIf="!ouvrage.specializedLine">
                                                {{ 'ADD.PLACE-HOLDER.specializedLineInactive' | translate }}
                                            </span>
                                        </mat-slide-toggle>
                                    </div>
                                    <br/>

                                    <mat-form-field appearance="outline" class="w-100-p" >
                                        <mat-label>{{'ADD.PLACE-HOLDER.chemicalMonthlyBill' | translate}}</mat-label>
                                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                                        <input matInput name="chemicalMonthlyBill" formControlName="chemicalMonthlyBill" required>
                                    </mat-form-field>

                                    <div>
                                        <mat-form-field appearance="outline" class="w-100-p">
                                            <mat-label>{{'ADD.PLACE-HOLDER.energyMonthlyBill' | translate}}</mat-label>
                                            <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                                            <input matInput name="energyMonthlyBill" formControlName="energyMonthlyBill" required>
                                        </mat-form-field>
                                    </div>

                                    <mat-form-field appearance="outline" class="w-100-p">
                                        <mat-label>{{'ADD.PLACE-HOLDER.totalWorkforce' | translate}}</mat-label>
                                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                                        <input matInput name="totalWorkforce" formControlName="totalWorkforce" required>
                                    </mat-form-field>

                                    <div>
                                        <mat-slide-toggle matInput name="distribution" formControlName="distribution"
                                                           required [checked]="ouvrage.distribution" (change)="toggleDistribution()">
                                            <span *ngIf="ouvrage.distribution">
                                                {{ 'ADD.PLACE-HOLDER.distributionActive' | translate }}
                                            </span>
                                            <span *ngIf="!ouvrage.distribution">
                                                {{ 'ADD.PLACE-HOLDER.distributionInactive' | translate }}
                                            </span>
                                        </mat-slide-toggle>
                                    </div>
                                    <br/>


                                    <div>
                                        <mat-form-field appearance="outline" class="w-100-p" *ngIf="ouvrage.distribution">
                                            <mat-label>{{'ADD.PLACE-HOLDER.populationServed' | translate}}</mat-label>
                                            <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                                            <input matInput name="populationServed" formControlName="populationServed" required>
                                        </mat-form-field>
                                    </div>


                                </fieldset>
                            </div>

                        </div>


                        <div fxLayout="column" class="mr-sm-12 ml-sm-12">
                            <fieldset class="myfieldset">

                                <div class="mr-sm-12" fxFlex>
                                    <button mat-raised-button class="accent add-button"  (click)="autoCoordinates()">
                                        <span>{{'ADD.BUTTON.autocoordinates' | translate}}</span>
                                    </button>
                                </div>
                                <br/>

                                <legend>{{'ADD.LEGENDS.location' | translate}}</legend>
                                <div class="ml-sm-12" fxLayout.xs="column" fxLayout.sm="column">
                                    <div class="mr-sm-12" fxFlex>
                                        <mat-form-field appearance="outline" class="w-100-p">
                                            <mat-label>{{'ADD.PLACE-HOLDER.area' | translate}}</mat-label>
                                            <mat-icon matSuffix class="secondary-text">domain</mat-icon>
                                            <input matInput name="area" formControlName="area" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="mr-sm-12" fxFlex>
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>{{'ADD.PLACE-HOLDER.coordinateX' | translate}}
                                            </mat-label>
                                            <input matInput name="coordinateX" formControlName="coordinateX"
                                                   [(ngModel)]="long" value="{{long}}" (change)="onCoordChange()"
                                                   required>
                                            <mat-icon matSuffix class="secondary-text">place</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="mr-sm-12" fxFlex>
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>{{'ADD.PLACE-HOLDER.coordinateY' | translate}}
                                            </mat-label>
                                            <input matInput formControlName="coordinateY" [(ngModel)]="lati"
                                                   value="{{lati}}" (change)="onCoordChange()" required>
                                            <mat-icon matSuffix class="secondary-text">place</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="mr-sm-12" fxFlex>
                                        <mat-form-field appearance="outline" class="w-100-p">
                                            <mat-label>{{'ADD.PLACE-HOLDER.coordinateZ' | translate}}</mat-label>
                                            <mat-icon matSuffix class="secondary-text">place</mat-icon>
                                            <input matInput name="coordinateZ" formControlName="coordinateZ" required>
                                        </mat-form-field>

                                    </div>
                                </div>
                                <div class="mapcls">
                                    <div leaflet [leafletOptions]="options"
                                         [leafletLayersControl]="layersControl"
                                         (leafletMapReady)="onMapReady($event)" style="height: 300px;"
                                         class="mapwh">
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                        <div fxLayout="column" class="mr-sm-12 ml-sm-12">
                                <ayams-file-uploader fxFlex [uploadFiles]="filesToBeAttached" [showAndUpdate]="true"
                                    [events]="onUploadEventSubject.asObservable()" (errorUpload)="errorUploadFiles()"
                                    (allRequiredAttached)="onAllRequiredAttached($event)"
                                    (successUpload)="successUploadFiles()">
                                </ayams-file-uploader>
                        </div>
                    </div>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
