<p class="myp" *ngIf="!exist">{{'FIELD.postTransformationElectriqueInexistante' | translate}}</p>
<div class="tab-content p-24" fusePerfectScrollbar *ngIf="exist">
    <div fxLayout="column" fxLayout.gt-sm="row">
        <div class="mr-sm-12 ml-sm-12" fxFlex>

                <div>
                    <p class="myLabel">{{'FIELD.marque' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{post.marque}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.puissance' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{post.puissance}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.couplage' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{post.couplage}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.up' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{post.up}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.is' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{post.is}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.ucc' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{post.ucc}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.natureHuile' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{post.natureHuile}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.cost' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{post.cost}}</span>
                    </p>
                </div>

        </div>

        <div class="mr-sm-12 ml-sm-12" fxFlex>

                <div>
                    <p class="myLabel">{{'FIELD.natureAbri' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{post.natureAbri}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.pmt' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{post.pmt}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.pbt' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{post.pbt}}</span>
                    </p>
                </div>


                <div>
                    <p class="myLabel">{{'FIELD.pmd' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{post.pmd}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.tarif' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{post.tarif}}</span>
                    </p>
                </div>


                <div>
                    <p class="myLabel">{{'FIELD.pma' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{post.pma}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.typeComptage' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{post.typeComptage}}</span>
                    </p>
                </div>

        </div>


    </div>
</div>


