<p class="myp" *ngIf="!exist">{{'FIELD.postTransformationElectriqueInexistante' | translate}}</p>
<div>
    <button mat-raised-button  class="accent add-button"  (click)="toggleExist()" *ngIf="!exist">
        <span >{{'BUTTON.addComposant' | translate}}</span>
    </button>
</div>
<form name="ouvrageForm" [formGroup]="postTransElecForm" class="w-100-p" fxLayout="column" fxFlex *ngIf="exist">

    <div class="tab-content p-24" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">



        <div fxLayout="column" fxLayout.gt-sm="row">
            <div class="mr-sm-12 ml-sm-12" fxFlex>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.marque' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="marque" formControlName="marque" required>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="w-100-p" >
                        <mat-label>{{'FIELD.puissance' | translate}}</mat-label>
                        <input matInput name="puissance" formControlName="puissance" required>
                        <span matSuffix>Kw</span>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.couplage' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="couplage" formControlName="couplage" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.up' | translate}}</mat-label>
                        <input matInput name="up" formControlName="up" required>
                        <span matSuffix>Kv</span>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="w-100-p" >
                        <mat-label>{{'FIELD.is' | translate}}</mat-label>
                        <input matInput name="is" formControlName="is" required>
                        <span matSuffix>Amp</span>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.ucc' | translate}}</mat-label>
                        <input matInput name="ucc" formControlName="ucc" required>
                        <span matSuffix>%</span>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.natureHuile' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="natureHuile" formControlName="natureHuile" required>
                    </mat-form-field>

                <mat-form-field appearance="outline" class="w-100-p" >
                    <mat-label>{{'FIELD.cost' | translate}}</mat-label>
                    <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                    <input matInput name="cost" formControlName="cost" required>
                </mat-form-field>


            </div>

            <div class="mr-sm-12 ml-sm-12" fxFlex>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.natureAbri' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="natureAbri" formControlName="natureAbri" required>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="w-100-p" >
                        <mat-label>{{'FIELD.pmt' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="pmt" formControlName="pmt" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.pbt' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="pbt" formControlName="pbt" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.pmd' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="pmd" formControlName="pmd" required>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="w-100-p" >
                        <mat-label>{{'FIELD.tarif' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="tarif" formControlName="tarif" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.pma' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="pma" formControlName="pma" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'FIELD.typeComptage' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="typeComptage" formControlName="typeComptage" required>
                    </mat-form-field>

            </div>


        </div>
        <div>
            <button mat-raised-button class="accent add-button"  [disabled]="postTransElecForm.invalid" (click)="onSave()">
                <span *ngIf="add">{{'BUTTON.add' | translate}}</span>
                <span *ngIf="!add">{{'BUTTON.update' | translate}}</span>
            </button>
        </div>
    </div>

</form>

