<div id="inventory" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">


                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        {{'ADD.HEADER.title-add' | translate}}
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
            <button mat-raised-button class=" mat-white-bg" [disabled]="inventoryForm.invalid" (click)="onSave()"
                *ngIf="!existCurrent">
                <span>{{'ADD.BUTTON.create' | translate}}</span>
            </button>


        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->

        <div class="content-card mat-white-bg">
            <div class="content" *ngIf="existCurrent">
                <div class="tab-content p-24" fusePerfectScrollbar>
                    <div class="pb-16 red-fg" fxLayout="row" fxLayoutAlign="start center">
                        <p class="h2" *ngIf="existCurrent">{{'ADD.FIELD.currrentExist' | translate}}</p>
                    </div>

                    <div>
                        <button mat-raised-button class="accent add-button" routerLink="/patrimony/inventory/current"
                            *ngIf="existCurrent">
                            <span>{{'ADD.BUTTON.continue' | translate}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="content" *ngIf="!existCurrent">

                <form name="ouvrageForm" [formGroup]="inventoryForm" class="w-100-p" fxLayout="column" fxFlex>
                    <mat-tab-group>
                        <mat-tab [label]="'ADD.TAB.infos' | translate">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" class="w-100-p">
                                    <mat-label>{{'ADD.FIELD.code' | translate}}</mat-label>
                                    <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                                    <input matInput name="code" formControlName="code" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-100-p">
                                    <mat-label>{{'ADD.FIELD.date' | translate}}</mat-label>
                                    <input matInput [matDatepicker]="picker1" name="date" formControlName="date"
                                        required>
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-100-p">
                                    <mat-label>{{'ADD.FIELD.responsable' | translate}}</mat-label>
                                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                    <mat-select formControlName="headOfTheInventory"
                                        (selectionChange)="changeCurrentChef($event.value)">
                                        <mat-option *ngFor="let headOfInventory of users" [value]="headOfInventory.id">
                                            {{headOfInventory.lastName}} {{headOfInventory.firstName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <div *ngIf="currentchef">

                                    <p class="phonep">
                                        <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                                        <span class="pl-4">{{currentchef.phoneNumber}}</span>
                                    </p>

                                    <p class="emailp">
                                        <mat-icon matSuffix class="secondary-text">email</mat-icon>
                                        <span class="pl-4">{{currentchef.email}}</span>
                                    </p>
                                </div>

                            </div>
                        </mat-tab>

                        <mat-tab [label]="'ADD.TAB.ouvrages' | translate">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div class="example-container mat-white-bg">
                                    <mat-accordion class="example-headers-align">
                                        <mat-expansion-panel *ngFor="let ouvrages of filteredOuvrages;let j = index">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title> {{ouvrages.type}} </mat-panel-title>
                                                <mat-panel-description> {{ouvrages.nbCheked}} </mat-panel-description>
                                            </mat-expansion-panel-header>
                                            <div class="filters" fxLayout="column" fxLayoutAlign="center center"
                                                fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
                                                <mat-form-field appearance="outline" floatLabel="always"
                                                    class="course-search">
                                                    <mat-label>{{'ADD.FIELD.rechercher' | translate}}</mat-label>
                                                    <mat-label></mat-label>
                                                    <input matInput [placeholder]="'ADD.FIELD.codeNom' | translate"
                                                        [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}"
                                                        (input)="filterOuvrageByTerm(j)">
                                                </mat-form-field>
                                            </div>
                                            <div fxLayout="row wrap">
                                                <div *ngFor="let ouvrage of ouvrages.ouvrages;let i=index" fxFlex="100"
                                                    fxFlex.gt-xs="50" fxFlex.gt-sm="25">
                                                    <mat-checkbox (change)="selectOuvrage(ouvrage,j)"
                                                        [(ngModel)]="ouvrages.ouvrages[i].checked"
                                                        [ngModelOptions]="{standalone: true}">
                                                        <p class="text-truncate">{{ouvrage.name}} - {{ouvrage.code}}</p>
                                                    </mat-checkbox>
                                                </div>
                                            </div>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab [label]="'ADD.TAB.responsables' | translate">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div *ngFor="let ouvrage of selectedOuvrages;let i=index" fxLayout="column"
                                    fxLayout.gt-sm="row">

                                    <div class="mr-sm-24" fxFlex>
                                        <p class="text-truncate">{{ouvrage.name}} - {{ouvrage.code}}</p>
                                    </div>

                                    <div class="mr-sm-24" fxFlex>
                                        <mat-form-field appearance="outline" class="w-100-p">
                                            <mat-label>{{'ADD.FIELD.responsable2' | translate}}</mat-label>
                                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                            <mat-select
                                                (selectionChange)="setOuvrageResponsable($event.value,ouvrage.code)">
                                                <mat-option *ngFor="let user of users" [value]="user.id">
                                                    {{user.lastName}} {{user.firstName}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                </div>

                            </div>
                        </mat-tab>

                    </mat-tab-group>
                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>