<div class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/patrimony/ouvrages/'+route.snapshot.params['code']+'/show'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" >
                        {{'HEADER.title' | translate}} {{ route.snapshot.params['code']}}
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->


        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">
                <div class="tab-content p-24" fusePerfectScrollbar>
                    <div class="mr-sm-12 ml-sm-12" fxFlex>

                        <mat-vertical-stepper #stepper>

                            <mat-step >
                                <ng-template matStepLabel>Sécurité</ng-template>
                                <app-security-show></app-security-show>
                            </mat-step>

                            <mat-step >
                                <ng-template matStepLabel>Poste transformation électrique</ng-template>
                                <app-post-trans-elec-show></app-post-trans-elec-show>
                            </mat-step>

                            <mat-step >
                                <ng-template matStepLabel>Groupe électropompe:Partie pompe</ng-template>
                                <app-groupe-elec-pomp-pomp-show></app-groupe-elec-pomp-pomp-show>
                            </mat-step>

                            <mat-step >
                                <ng-template matStepLabel>Groupe électropompe:Partie moteur</ng-template>
                                <app-groupe-elec-pomp-moteur-show></app-groupe-elec-pomp-moteur-show>
                            </mat-step>

                            <mat-step >
                                <ng-template matStepLabel>Armoire Électrique de commande</ng-template>
                                <app-armoire-elec-cmd-show></app-armoire-elec-cmd-show>
                            </mat-step>

                            <mat-step >
                                <ng-template matStepLabel>Anti-bélier</ng-template>
                                <app-anti-bilier-show></app-anti-bilier-show>
                            </mat-step>

                            <mat-step >
                                <ng-template matStepLabel>Soupape de décharge</ng-template>
                                <app-soupape-decharge-show></app-soupape-decharge-show>
                            </mat-step>

                            <mat-step >
                                <ng-template matStepLabel>Vanne</ng-template>
                                <app-vanne-pompage-show></app-vanne-pompage-show>
                            </mat-step>

                            <mat-step >
                                <ng-template matStepLabel>Clapet anti retour </ng-template>
                                <app-clapet-anti-retour-show></app-clapet-anti-retour-show>
                            </mat-step>

                            <mat-step >
                                <ng-template matStepLabel>Ventouse  </ng-template>
                                <app-venteuse-show></app-venteuse-show>
                            </mat-step>

                            <mat-step >
                                <ng-template matStepLabel>Joint de démontage  </ng-template>
                                <app-joint-demantage-show></app-joint-demantage-show>
                            </mat-step>

                            <mat-step >
                                <ng-template matStepLabel>Compteur/débitmètre</ng-template>
                                <app-compteur-show></app-compteur-show>
                            </mat-step>

                            <mat-step >
                                <ng-template matStepLabel>Collecteur d’aspiration </ng-template>
                                <app-collecteur-aspiration-show></app-collecteur-aspiration-show>
                            </mat-step>

                            <mat-step >
                                <ng-template matStepLabel>Collecteur de refoulement  </ng-template>
                                <app-collecteur-reffoullement-show></app-collecteur-reffoullement-show>
                            </mat-step>

                            <mat-step >
                                <ng-template matStepLabel>Groupe électrogène </ng-template>
                                <app-groupe-electrogene-show></app-groupe-electrogene-show>
                            </mat-step>

                        </mat-vertical-stepper>

                    </div>
                </div>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>




