.page-layout.carded.fullwidth {
    .top-bg {
        height: 152px;
    }
    .center {
        .header {
            height: 97px !important;
            min-height: 97px !important;
            max-height: 97px !important;
        }
    }
}

.mat-white-bg[disabled] {
    background-color: rgba(255, 255, 255, 0.52) !important;
    color: rgba(0, 0, 0, 0.26) !important;
}
