<p class="myp" *ngIf="!exist">{{'FIELD.antiBelierInexistante' | translate}}</p>
<div class="tab-content p-24" fusePerfectScrollbar *ngIf="exist">
    <div fxLayout="column" fxLayout.gt-sm="row">
        <div class="mr-sm-12 ml-sm-12" fxFlex>

                <div>
                    <p class="myLabel">{{'FIELD.marque' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{antiBelier.marque}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.type' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{antiBelier.type}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.capacity' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{antiBelier.capacity}}</span>
                    </p>
                </div>


                <div>
                    <p class="myLabel">{{'FIELD.compresseur' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span *ngIf="antiBelier.compresseur">{{ 'FIELD.compresseurActive' | translate }}</span>
                        <span *ngIf="!antiBelier.compresseur">{{ 'FIELD.compresseurInactive' | translate }}</span>
                    </p>
                </div>
        </div>

        <div class="mr-sm-12 ml-sm-12" fxFlex>

                <div>
                    <p class="myLabel">{{'FIELD.presseionService' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{antiBelier.presseionService}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.presseionEpreuve' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{antiBelier.presseionEpreuve}}</span>
                    </p>
                </div>

                <div>
                    <p class="myLabel">{{'FIELD.presseionRegonflage' | translate}}</p>
                    <p class="myp">
                        <mat-icon matPrefix class="mr-12 s-20" color="accent">keyboard</mat-icon>
                        <span>{{antiBelier.presseionRegonflage}}</span>
                    </p>
                </div>

        </div>


    </div>
</div>


