
    <p class="myp" *ngIf="!exist">{{'PLACE-HOLDER.inexistant' | translate}} {{typeComponent}}, voulez vous ajouter une observation ?</p>
    <div *ngIf="!exist">
        <button mat-raised-button class="accent add-button"  (click)="toggleObs()">
            <span>{{'BUTTON.addObs' | translate}}</span>
        </button>
    </div>
    <form [formGroup]="componentInventoryForm" class="w-100-p" fxLayout="column" fxFlex *ngIf="exist">

        <div class="tab-content p-24" fusePerfectScrollbar>

            <div fxLayout="column" fxLayout.gt-sm="row" *ngIf="!observation">
                <div class="mr-sm-12 ml-sm-12" fxFlex>

                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'PLACE-HOLDER.state' | translate}}</mat-label>
                        <mat-select formControlName="state" required>
                            <mat-option value="GOOD">Bon</mat-option>
                            <mat-option value="AVERAGE">Moyen</mat-option>
                            <mat-option value="BAD">Mauvais</mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                    </mat-form-field>
                </div>

                <div class="mr-sm-12 ml-sm-12" fxFlex>
                    <mat-form-field appearance="outline" class="w-100-p">
                        <mat-label>{{'PLACE-HOLDER.ecart' | translate}}</mat-label>
                        <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                        <input matInput name="ecart" formControlName="ecart" required>
                    </mat-form-field>
                </div>

            </div>


            <div fxLayout="column" class="mr-sm-12 ml-sm-12">
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>{{'PLACE-HOLDER.observation' | translate}}</mat-label>
                    <mat-icon matSuffix class="secondary-text">keyboard</mat-icon>
                    <input matInput name="observation" formControlName="observation" >
                </mat-form-field>
            </div>

            <div *ngIf="!observation">
                <button mat-raised-button class="accent add-button" (click)="onSave()">
                    <span>{{'BUTTON.add' | translate}}</span>
                </button>
            </div>

            <div *ngIf="observation">
                <button mat-raised-button class="accent add-button"  [disabled]="componentInventoryForm.invalid" (click)="onSave()">
                    <span>{{'BUTTON.add' | translate}}</span>
                </button>
            </div>
        </div>

    </form>

